<div class="container articles" id="articles">

        {{#each Articles}}

            {{> articles/article-block}}
            
        {{/each}}

</div>

<div class="container">
                      
    <button class="deleteArticles btn-danger">Clear Articles</button>

</div>
 