<div class="container comments" id="comments">

    {{#each Articles}}

        <div class="row commented-article">

            <h4> 
            
                <a href="https://www.inquirer.com{{this.link}}" target="_blank">{{this.headline}}</a>

            </h4>

        </div>

        <div class="row">

            <p>

                {{this.summary}}

            </p>

        </div>

        <div class="row">

            <h3>COMMENTS:</h3>

        </div>

        <div class="row" id="notes">
    
            {{#if this.Comments}}

                <div class="container">

                    {{#each this.Comments}}

                        {{> comments/comments-block}}
                        
                    {{/each}}

                </div>
            
            {{/if}}

        </div>

        <div class="row">

            <div class="container">

                <p>Tagline</p>
                    
                    <input type="text" id="tagLine-input" />
                
                <br>

                <p>User</p>
                    
                    <input type="text" id="user-input" />
                
                <br>
                    
                <p>Comment</p>

                    <textarea id="comment"></textarea>

                <div id="buttons">

                    <div id="action-button">

                    <button data-id="{{this._id}}" id="make-new">Submit</button>

                    </div>

                </div>

            </div>

        </div>

    {{/each}}

</div>

 