html {
    scroll-behavior: smooth;
  }

/* Body Content Styling */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    position: relative;
}
  
/* Set Heading Text Color  */
h1 {
    font-family:  Georgia, Times, "Times New Romn", serif;
    font-size: 3rem;
} 


.header {
    position: relative;
    text-align: center;
}

/* Footer Styling */
footer{
border-top: 8px solid #4aaaa5;
background-color: #000000;
color: #ffffff;
text-align: center;
}

 /*----------------------------------------------------
 Header Landing Page Styling
------------------------------------------------------*/
.header-content {
    background-image: url("../images/philly_skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: table;
}

.header-content h1 {
    color: white;
    font-family: Georgia, serif;
    font-size: 5rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.header-content h3 {
    color: #4aaaa5;
    font-family: Georgia, serif;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

/* main-content info to set background and other details */
.main-content{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-color:  #dddddd; 
}

/*----------------------------------------------------
 Navbar Styling
------------------------------------------------------*/
/* Responsive fixed navbar by Albi found at https://colorlib.com/wp/bootstrap-navbar/  */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* Navbar section */
.navbar {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.navbar div.container {
    margin-left: 0;
    margin-right: 0;
}

#mainListDiv {
    position: absolute;
    right: 20rem;
}

.navbar div.main_list {
    height: 65px;
    float: right;
}

.navbar div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    list-style: none;
}

.navbar div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.5rem;
    list-style: none;
}

.navbar div.main_list ul li a:hover {
  color: green;
}

.nav-link {
  padding: 0;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Animation */
@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    /* background-color: #ffffff; */
    background-color: black;
}

.navbar div.main_list ul li a.active {
  color: #4aaaa5;
}

.saveArticle {
    float: right;
}

.double-border {
    border-style: double;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    margin-bottom: 1.5rem;
}

.solid-border {
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    margin-bottom: 2rem;
}

/* to allow the scroll to articles section to stop where the first article is displayed 
    and not under the navbar */
.articles {
    padding-top: 100px; 
}

/* to allow the scroll to comments section to stop where the first article is displayed 
    and not under the navbar */
.comments {
    padding-top: 100px; 
}

.row.comments {
    padding-top: 20px;     
}

/* center the delete Articles button within the container */
.deleteArticles {
    margin:0 auto;
    display:block;
}

/* added spacing so the flow off the first page looks correctly */
.bottom-row {
    padding-top: 100px;  
}

/* adjust the font sizes on the comments */
.caption-size {
    font-size: larger;
}

.by-size {
    font-size: smaller;
}

/* add space between the comment input boxes */
#tagLine-input {
    margin-bottom: .5rem;
}

#user-input {
    margin-bottom: .5rem;
}